body{
  font-family: "Roboto", sans-serif;
  background: darken(white, 0.2);
}

.member-cover{
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.project-cover{
  width: 400px;
  height: 250px;
  object-fit: cover;
}
